<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">

  <title>Findrama app</title>

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  

</head>
<body id= "all_body" >
  

    <header style="display:fixed">
        <nav>
          <div  style ="display:inline; color:#FDC000; font-family: 'Oswald',sans-serif; font-size: 30px; margin-left:10px ; margin-right:30px;font-size:35px;">Findrama</div>
          <a href="/"  text-decoration:none><div style = "display:inline; margin-right:10px; color:	rgba(255,255,255,0.9); font-family: 'Roboto Condensed',sans-serif; font-size:25px;">Home</div></a>
          <a href="/about"  text-decoration:none ><div style="display:inline; color:rgba(255,255,255,0.9); font-family: 'Roboto Condensed';font-size:25px;">About</div></a>
        </nav>
        <hr>
    </header>

    <div style="line-height:1 ; font-family:'Oswald',sans-serif; font-size:80px; margin-left:30px ;margin-top:50px">
      <div style="color:#FDC000;font-size:120px;">Findrama</div>
        <p style="font-size:50px;">드라마 리스트 , 드라마 평가</p>
    </div>

    <div style="line-height:1 ; font-family:'Roboto Condensed',sans-serif; font-size:30px; margin: 30px 0; color:rgba(255,255,255,0.5); margin-left:30px ">
      <p>
        드라마 리스트를 보여주는 Home페이지와 각각의 드라마 페이지와 팀에대한 About 페이지로 구성되어 있다.
      </p>
      <p>
        원하는 드라마를 누르면 드라마 페이지로 이동이 가능하다.
      </p>
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
          <a href="/이미테이션" text-decoration:none><img src="{{resultData[0]['img_url'] }}" width = "355" height="480"/></a><br/>
        <br/>
        <center style="font-size:20px;">{{resultData[0]['title']}}</center>
    
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">

      <a href="/멸망" text-decoration:none><img src="{{ resultData[1]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[1]['title']}}</center>

    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">

      <a href="/오월의청춘" text-decoration:none><img src="{{ resultData[2]['img_url']}}"width = "355" height="480"/></a><br/>
        <br/>
    <center style="font-size:20px;">{{resultData[2]['title']}}</center>
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
        <br/>
      <a href="/로스쿨" text-decoration:none><img src="{{ resultData[3]['img_url']}}"width = "355" height="480"/></a><br/>
    <br>
    <center style="font-size:20px;">{{resultData[3]['title']}}</center>
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
        <br/>
      <a href="/대박부동산" text-decoration:none><img src="{{ resultData[4]['img_url']}}"width = "355" height="480"/></a><br/>
      <br>
    <center style="font-size:20px;">{{resultData[4]['title']}}</center>
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
        <br/>
      <a href="/모범택시" text-decoration:none><img src="{{ resultData[5]['img_url']}}"width = "355" height="480"/></a><br/>
      <br>
    <center style="font-size:20px;">{{resultData[5]['title']}}</center>
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/다크홀" text-decoration:none><img src="{{ resultData[6]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[6]['title']}}</center>
    
    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/언더커버" text-decoration:none><img src="{{ resultData[7]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[7]['title']}}</center>

    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
        <br/>
      <a href="/오케이광자매" text-decoration:none><img src="{{ resultData[8]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[8]['title']}}</center>

    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/마인" text-decoration:none><img src="{{ resultData[9]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[9]['title']}}</center>
    
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/보쌈" text-decoration:none><img src="{{ resultData[10]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[10]['title']}}</center>

    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/아모르파티" text-decoration:none><img src="{{ resultData[11]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[11]['title']}}</center>

    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/밥이되어라" text-decoration:none><img src="{{ resultData[12]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[12]['title']}}</center>

    </div>
    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/미스몬테크리스토" text-decoration:none><img src="{{ resultData[13]['img_url']}}"width = "355" height="480"/></a><br/>
      <br/>
    <center style="font-size:20px;">{{resultData[13]['title']}}</center>
    
    </div>

    <div style="display:inline-block; font-family: Roboto ,sans-serif ; margin-left:30px ">
    <br/>
      <a href="/속아도꿈결" text-decoration:none><img src="{{ resultData[14]['img_url']}}"width = "355" height="480"/></a><br/>
    <br/>
    <center style="font-size:20px;">{{resultData[14]['title']}}</center>
    
    </div>







</body>
</html>

