<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">

  <title>Findrama app</title>

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>

<body id="all_body">


  <header>
    <nav>
          <div  style ="display:inline; color:#FDC000; font-family: 'Oswald',sans-serif; font-size: 30px; margin-left:10px ; margin-right:30px;font-size:35px;">Findrama</div>
          <a href="/"  text-decoration:none><div style = "display:inline; margin-right:10px; color:	rgba(255,255,255,0.9); font-family: 'Roboto Condensed',sans-serif; font-size:25px;">Home</div></a>
          <a href="/about"  text-decoration:none ><div style="display:inline; color:rgba(255,255,255,0.9); font-family: 'Roboto Condensed';font-size:25px;">About</div></a>
        </nav>
    <hr>
  </header>


  <!-- 전체적으로 가운데 정렬 시키기 -->
  <div style="width :80% ; margin:0 auto; padding-bottom:10% ; margin-top:80px;">

    <!-- top container 위쪽 상단 드라마 내용 부분 -->
    <div style="display:inline-block; font-size:x-large ;font-family: 'Jua' ,sans-serif  ">
      <!-- 드라마 사진 부분 ( 왼쪽 ) -->
      <img src="{{ resultData['img_url']}}" align="left" hspace="80" width = "400" height="480" />
      제목 : {{ resultData['title'] }} <br/>
      <!-- 드라마 내용 삽입 (오른쪽)-->

      <p style="margin-top:50px ; margin-bottom: 40px ;">{{ resultData['plot'] }}</p>

      <p>등장인물 </p>
      <p>
        {% for i in range(8) %}
          {{actor[i]['role_name']}} : {{actor[i]['actor_name']}},
        {% endfor %}
      <p/>

    </div>

    <!-- bottom container 아래쪽 하단 드라마 분석 부분 -->
    <div
      style="position:relative; margin-top: 80px; width:100%; height:1000px; border:3px solid #bcbcbc; border-radius: 5px ;font-family: 'Jua' ,sans-serif ;">
      <!-- 드라마 분석중 왼쪽 위 ( 댓글 예시 ) -->
      <div style=" position:absolute ; top : 3% ; width: 44% ; height: 91%; margin-left:35px;   border-radius: 25px;
      border: 2px solid #fff; ">
        <center>
          <h1>예시 댓글 모음</h1>
        </center>

        {% for i in range(10) %}
        <li> {{chat[i]}} </li>
        <div style="font-size: small;">{{predict[i]}}</div>
        {% endfor %}
        <br>
        <br>
        <div> 총 정확도는 : <h1>{{sum}}%</h1> </div>
  
      </div>

      <!-- 드라마 분석중 오른쪽 위 ( wordcloud )-->
      <div style=" position:absolute ; top: 3% ; left:51% ;  width:46% ; height: 40%;   border-radius: 25px;
      border: 2px solid #fff; ">
        <center>
          <h1>워드 클라우드</h1>
        </center>

        <img src="./static/wordcloud/wordcloud_0.png" width="495" height="245">

      </div>

      <!-- 드라마 분석중 아래 (그래프 , 평점)-->
      <div style="position:absolute ; top: 50%; left: 51%; width: 46% ; height: 45%;   border-radius: 25px;
      border: 2px solid #fff; ">
        <center>
          <h1>평가</h1>
        </center>

        <div
          style="display: inline-block; width:300px ; height:300px ; margin-left:25px; background: conic-gradient(#73EEB2 0% {{pos}}%, #7e71f1 {{pos}}% {{pos+nor}}%, #FFA2AD {{pos+nor}}% 100% ); border-radius: 50%;">
        </div>

        <div
          style="position:absolute ; top: 20%; left: 350px ; width: (100%-100px) ; height: 100px ; font-size: 15px ;">
          <div style="font-size: large;">
            <p>긍정 댓글 : {{pos}}%</p>
            <p>보통 댓글 : {{nor}}%</p>
            <p>부정 댓글 : {{neg}}%</p>
            <br>
            <p>평점 : {{rank}} </p>
          </div>
          <div style="display: inline-block; width:15px; height:15px ; background-color: #73EEB2;"> </div> 긍정
          <div style="display: inline-block; width:15px; height:15px ; background-color: #7e71f1;"> </div> 보통
          <div style="display: inline-block; width:15px; height:15px ; background-color: #FFA2AD;"> </div> 부정
          
        </div>
      </div>
    </div>
  </div>

</body>

</html>