<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">

  <title>Findrama app</title>

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">


</head>

<body id="all_body">


  <header>
    <nav>
      <div
        style="display:inline; color:#FDC000; font-family: 'Oswald',sans-serif; font-size: 30px; margin-left:10px ; margin-right:50px">
        Findrama</div>
      <a href="/" text-decoration:none>
        <div
          style="display:inline; margin-right:10px; color:	rgba(255,255,255,0.9); font-family: 'Roboto Condensed',sans-serif">
          Home</div>
      </a>
      <a href="/about" text-decoration:none>
        <div style="display:inline; color:rgba(255,255,255,0.9); font-family: 'Roboto Condensed'">About</div>
      </a>
    </nav>
    <hr>
  </header>


  <div style=" margin-top:100px ; margin-bottom:50px">
    <center>
      <img src="{{ url_for('static', filename='css/mango.jpg') }}"
        style="width:300px ; height:300px ; border-radius:150px; margin-right: 20px" />
      <img src="{{ url_for('static', filename='css/mango.jpg') }}"
        style="width:300px ; height:300px ; border-radius:150px; margin-right: 20px" />
      <img src="{{ url_for('static', filename='css/mango.jpg') }}"
        style="width:300px ; height:300px ; border-radius:150px" />
    </center>
  </div>

  <center style="font-size: 25px">
    <p style="font-family: 'Oswald' , serif;">팀:Findrama</p>
    <p>변효근 : 조장 , flask , db , 총괄진행 , 대빵</p>
    <p>이준규 : 조원1, flask, front작업 , 기획 총괄 , 꼰대</p>
    <p>이정은 : 조원2, 크롤링, DB전문가, 사실상 보스, 막내</p>
  </center>
</body>

</html>
