
<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">

  <title>Findrama app</title>

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


</head>

<body id="all_body">


  <header>
    <nav>
      <div
        style="display:inline; color:#FDC000; font-family: 'Oswald',sans-serif; font-size: 30px; margin-left:10px ; margin-right:50px">
        Findrama</div>
      <a href="/" text-decoration:none>
        <div
          style="display:inline; margin-right:10px; color:	rgba(255,255,255,0.9); font-family: 'Roboto Condensed',sans-serif">
          Home</div>
      </a>
      <a href="/about" text-decoration:none>
        <div style="display:inline; color:rgba(255,255,255,0.9); font-family: 'Roboto Condensed'">About</div>
      </a>
    </nav>
    <hr>
  </header>

  <center>
    <div style="font-family: 'Jua' , serif ; font-size: xx-large; margin-top: 50px;">핵심기술<br /> html,css / python 웹크롤링,
      딥러닝 / flask, mariaDB </div>
  </center>
  <div style=" margin-top:30px ; margin-bottom:50px">
    <center>
      <img src="{{ url_for('static', filename='css/html_css3.png') }}"
        style="width:300px ; height:300px ; border-radius:150px; margin-right: 20px ; " />
      <img src="{{ url_for('static', filename='css/python_logo2.jpg') }}"
        style="width:300px ; height:300px ; border-radius:150px; margin-right: 20px ; " />
      <img src="{{ url_for('static', filename='css/flask.png') }}"
        style="width:300px ; height:300px ; border-radius:150px ; " />
    </center>
  </div>


  <center style="font-size: 25px ">
    <p style="font-family: 'Oswald' , serif; ">
    <div style="font-family: 'Jua' , serif ; display:inline">팀</div>:Findrama</p>
    <div style="font-family: 'Jua' , serif ;">
      <p>변효근 : flask, 딥러닝</p>
      <p>이준규 : flask, front작업</p>
      <p>이정은 : 웹 크롤링, DB작업</p>
    </div>
  </center>
</body>

</html>
