<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
<body>
    <header>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>

        </nav>
        <hr>
      </header>
    <h1>about</h1>
    <h1 style="display:inline; font-family: 'Roboto Condensed'">about</h1>
</body>
</html>